<div ng-controller="ChoicesController" ng="GetResults();">
  <form name="ColorChoiceForm" class="spacer">
    <div class="row">
      <div class="col-xs-3">
        <select class="form-control" ng-options="choice as choice for choice in choices.choices track by choice"
                ng-model="selected">
          <option value="">Choose a Color...</option>
        </select>
      </div>
    </div>
    <div class="row">&nbsp;
    </div>
    <div class="row">
      <div class="col-xs-3">
        <button ng-click="PostChoice();GetResults()" class="btn btn-success">
          Submit
        </button>
      </div>
    </div>
  </form>
  <div class="row">&nbsp;
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <td>
              Color
            </td>
            <td>
              Count
            </td>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="result in results.results">
            <td>{{ result.color }}</td>
            <td>{{ result.count }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
