<div ng-controller="ChoicesController">
  <form class="spacer" ng-submit="submit()">
    <div class="row">
      <div class="col-xs-3">
        <label for="exampleSelect1">Choose a Color:</label>
          <select class="form-control" id="exampleSelect1" ng-options="choice as choice for choice in choices.choices track by choice" ng-model="selected"></select>
      </div>
    </div>
    <div class="row">&nbsp;
    </div>
    <div class="row">
      <div class="col-xs-3">
        <button ng-click="PostChoice()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
